@model IEnumerable<Model.EF.Order>

@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)
    {
        Response.Redirect("/Admin/Home/Login");
    }
}

<section class="content-header">
    <h1>
        Bản quản lý
        <small>@Session["fullName"] - Member since - @Convert.ToDateTime(Session["createdDate"].ToString()).ToShortDateString()</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> @(Convert.ToInt32(Session["isAdmin"].ToString()) == 1 ? "Quản trị viên" : "Thành viên")</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    @*<a href="/Admin/Orders/Create" class="btn btn-success btn-lg" style="cursor: pointer">
                        Thêm mới
                        @Html.ActionLink("Thêm mới", "Create")
                    </a>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table">
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.AppUser.FullName)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerMobile)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.CustomerMessage)
                            </th>*@
                            @*<th>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.PaymentStatus)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr>
                            @*<td>
            @Html.DisplayFor(modelItem => item.AppUser.FullName)
        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerMobile)
                            </td>
                            @*<td>
            @Html.DisplayFor(modelItem => item.CustomerMessage)
        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                            </td>*@
                            <td class="text-center btn-active" data-id="@item.ID" style="cursor:pointer">
                                @if (item.Status == true)
        {
                        <span class="label label-success">Actived</span>
}
else
{
                        <span class="label label-danger">Locked</span>
}
                            </td>
                            @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
                            <td>
                                @*<a href="/Admin/Orders/Edit/@item.ID" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;*@
                                <a href="/Admin/Orders/Details/@item.ID" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                                @*<span class="Delete" data-id="@item.ID" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-times-circle"></i></span> &nbsp;*@

                            </td>
                        </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script src="~/Assets/Admin/js/ChangesStatus/Orders.js"></script>